@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #143a3e;
    color: white;
}

#tentacles {
    width: 200px;
    margin: 0px 5vw;
    border: 5px solid white;
    border-radius: 99%;
    padding: 3vh;
    background-color: #287179;
}

#info-bar {
    text-align: center;
    padding: 7vh 0px 10vh 0px;
    border-top: 2px solid #a8b0bc;
    border-bottom: 2px solid #a8b0bc;
    font-size: 2.4vh;
    background-color: #215d63;
}

#welcome-text {
    font-size: 2em;
}

.header {
    display: flex;
    padding: 5%;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    font-size: 2em;
    background-color: #143a3e;
}

#stats-header {
    margin-top: 10vh;
}

.stats-container {
    display: flex;
    align-items: stretch;
    background-color: #143a3e;
}

.stats-container:hover {
    cursor: pointer;
    box-shadow: 0px 0px 30px lightblue;
}

.stats-card {
    background-color: #db795d;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
    color:#143a3e
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}